.landing-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    span {
        color: #5641C7;
    }

    .large-title {
        font-size: 150px;
        text-align: center;
        font-weight: 800;
        letter-spacing: -0.03em;
        line-height: 99%;
        font-style: normal;
        position: relative;

        @media screen and (max-width: 690px) {
            font-size: 70px;
        }
    }

    .social-strip {
        display: flex;
        width: 210px;
        justify-content: space-between;
        align-items: center;
        align-items: center;
        

        a {
            text-decoration: none;
            color: black;
        }

        .contact-button {
            background-color:#C4C4C4;
            border-radius: 10px;
            color: white;
            border-radius: 30px;
            width: 100px;
            display: flex;
            justify-content: center;
            height: 40px;
        }
    }
}