.landing-page {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.profile-image {
    background-repeat: no-repeat;
    background-position: center;
    background-color: yellow;
    border-radius: 50%;
    object-fit: cover;
    height: 300px;
    width: 300px;
}