{
    "plugins": [
        [
            "prismjs",
            {
                "languages": [
                    "swift",
                    "python",
                    "bash",
                    "javascript",
                    "css",
                    "html"
                ],
                "plugins": ["line-numbers", "show-language"],
                "theme": "tomorrow",
                "css": true
            }
        ]
    ]
}
