.blogDetailContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;

    li {
        margin-bottom: 10px;
    }

    .code-block {
        background: black;
    }

    .body {
        width: 100%;

        .blogHeading {
            > *:not(:last-child) {
                margin-bottom: 10px;
            }

            margin-bottom: 20px;
        }

        :not(pre) > code {
            background: #3a3b3c;
            padding: 3px 6px;
            border-radius: 3px;
            color: white;
        }

        .tags {
            display: flex;
            font-size: 11px;
            > * {
                margin-right: 5px;
            }
        }

        margin-top: 20px;

        .ghostContent {
            img {
                width: 100%;
                height: auto;
            }

            > * {
                margin-bottom: 32px;
            }

            a {
                font-weight: bold;
                text-decoration: underline;
            }

            p {
                line-height: 35px;
                font-size: 18px;
            }

            h2,
            h3,
            h4,
            h5 {
                margin: 48px 0 24px;
            }
        }
    }
}
