.blogDetailContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;

    h1 {
        word-wrap: break-word;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        font-weight: bold;
    }

    li {
        margin-bottom: 10px;
    }

    .code-block {
        background: black;
    }

    .body {
        width: 100%;

        a {
            font-weight: bold;
            text-decoration: underline;
        }

        .blogHeading {
            > *:not(:last-child) {
                margin-bottom: 10px;
            }

            margin-bottom: 20px;
        }

        :not(pre) > code {
            background: #3a3b3c;
            padding: 3px 6px;
            border-radius: 3px;
            color: white;
        }

        .tags {
            display: flex;
            font-size: 11px;
            > * {
                margin-right: 5px;
            }
        }

        margin-top: 20px;

        .ghostContent {
            img {
                width: 100%;
                height: auto;
            }

            > * {
                margin-bottom: 20px;
            }
        }
    }
}
