.postList {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.darkModeToggle {
    align-self: flex-end;
    background: gray;
}

.blogIntro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 60px;

    p {
        width: 70%;
    }

    > img {
        height: 200px;
        border-radius: 50%;
        border-width: 10px;
        border-color: white;
        margin-bottom: 10px;
    }
}

.blogPageContainer {
    display: flex;
    justify-content: center;
}
