.authorSection {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    img {
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .authorMetadata {
        font-size: 11px;
        > * {
            margin-bottom: 2px;
        }
    }
}
