h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  text-decoration: none !important;
}

.remark-code-title {
  font-size: 13px;
  @apply font-bold text-gray-500 underline decoration-dashed dark:text-gray-400;
}

.remark-code-title::before {
  content: '📁';
  margin-right: 5px;
  display: inline-block;
  text-decoration: none;
}

.toc a {
  @apply text-gray-700 no-underline hover:text-gray-500 hover:underline dark:text-gray-300 dark:hover:text-gray-400 !important;
}

blockquote > p {
  margin: 0 !important;
}

blockquote {
  padding: 15px 10px;
}

img {
  margin: 0 auto;
}

.toc {
  @apply mt-2 rounded-md bg-gray-100 p-3 leading-5 dark:bg-gray-800;
}

.toc::before {
  content: 'TABLE OF CONTENTS';
  font-size: 16px;
  font-weight: bold;
  @apply text-gray-800 dark:text-gray-100;
}
