@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/satoshi.woff2') format('woff2');
  font-weight: bold;
  font-style: bold;
  font-display: swap;
}
