.post-list {
    @media screen and (max-width: 810px) {
        width: 85%;
    }
    max-width: 700px;
    padding-bottom: 20px;
}

.blog-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 60px;

    p {
        width: 70%;
    }

    > img {
        height: 200px;
        border-radius: 50%;
        border-width: 10px;
        border-color: white;
        margin-bottom: 10px;
    }

    .social-strip {
        width: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.blog-page-container {
    display: flex;
    justify-content: center;
}
