.blog-detail-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;

    .scroll-indicator {
        position: sticky;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 10px;

        div {
            background: purple;
            height: 100%;
        }
    }

    img {
        width: 100%;
        height: auto;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        font-weight: bold;
    }

    li {
        margin-bottom: 10px;
    }

    .code-block {
        background: black;
    }

    .body {
        h1 {
            margin-bottom: 5px;
        }

        a {
            font-weight: bold;
            text-decoration: underline;
            color: #cb92fc;
        }

        blockquote {
            padding: 20px;
            border-radius: 10px;
            border-color: purple;
            border-width: 3px;
            font-style: italic;
            border-style: solid;
            background-color: #272c42;
            color: rgba($color: white, $alpha: 0.9);
        }

        .tags {
            display: flex;
            font-size: 11px;
            margin-bottom: 20px;
            > * {
                margin-right: 5px;
            }
        }

        @media screen and (max-width: 690px) {
            width: 85%;
        }

        margin-top: 20px;
        width: 65%;

        .ghost-content {
            > * {
                margin-bottom: 20px;
            }
        }
    }
}
