---
import BaseLayout from '@layouts/BaseLayout.astro'
import BlogPreview from '@components/BlogPreview.svelte'
import { getCollection } from 'astro:content'

const posts = await getCollection('blog')
const sortedPosts = posts.sort(
  (a, b) =>
    new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf()
)

const visiblePosts = sortedPosts.slice(0, 3)
---

<BaseLayout
  title="Oops! We could not find what you were looking for..."
  description="Blog posts about iOS mobile app development by Pol Piella."
  image="">
  <div
    class="prose dark:prose-invert mx-auto grid items-center align-center px-5 max-w-full sm:max-w-3xl prose-a:no-underline">
    <section>
      <h1 class="text-center max-w-md mx-auto">
        We couldn't find what you were looking for...
      </h1>
      <img class="w-80 aspect-square mx-auto" src="/assets/not-found.svg" />
    </section>
    <section>
      <h2 class="text-center">Here are some posts you might like though...</h2>
      <div class="block sm:flex">
        <div class="flex-0">
          <div class="flex flex-col gap-8">
            {
              visiblePosts.map((post) => (
                <BlogPreview
                  title={post.data.title}
                  slug={post.slug}
                  excerpt={post.data.excerpt}
                  pubDate={post.data.pubDate}
                />
              ))
            }
          </div>
        </div>
      </div>
    </section>
  </div>
</BaseLayout>
