---
import BaseLayout from '@layouts/BaseLayout.astro'
import BlogPreview from '@components/BlogPreview'
import Paginator from '@components/Paginator'
import Subscribe from '@components/Subscribe'
import uniqBy from '@utils/uniqBy'
import InfoPane from '@components/InfoPane'

export async function getStaticPaths({ paginate }) {
  const posts = await Astro.glob('./*.md')
  const sortedPosts = posts.sort(
    (a, b) =>
      new Date(b.frontmatter.pubDate).valueOf() -
      new Date(a.frontmatter.pubDate).valueOf()
  )

  return paginate(sortedPosts, {
    pageSize: 5,
  })
}

const { page } = Astro.props
---

<BaseLayout image="https://polpiella.dev/assets/home.jpg" activeNav="index">
  <div class="my-0 max-w-2xl flex flex-col">
    <InfoPane
      title="Pol Piella Abadia"
      subtitle="Senior software engineer at the BBC"
      description="Hi, welcome to my blog! I am Pol, a senior iOS developer working in the iPlayer app by the BBC. I love sharing content and writing about all things mobile development and Swift."
      alt="/assets/profile.jpg"
      image="/assets/profile.jpg"
    />

    <section class="mt-12 mb-12 w-full">
      <Subscribe client:load />
    </section>

    <Paginator previousURL={page.url.prev} nextURL={page.url.next} />

    <section class="mt-4 flex flex-col gap-8">
      {page.data.map((post) => <BlogPreview post={post} />)}
    </section>
  </div>
</BaseLayout>
