---
import BaseLayout from '../components/BaseLayout'
import TimelineEvent from '../components/TimelineEvent'
import Talk from '../components/Talk'
---

<BaseLayout>
  <div class='flex mx-auto my-0 gap-1'>
    <div class='px-3 my-0 flex flex-col gap-5'>
      <section class='prose dark:prose-invert text-center mb-5'>
        <h1>Hi, I'm Pol 👋</h1>
      </section>
      <section class='prose dark:prose-invert mb-5'>
        <h2 class='m-0 mb-2'>A bit about me</h2>
        <div class='flex gap-5'>
          <p class='m-0'>
            I'm a passionate iOS developer with over 4 years of experience in
            the industry. I worked in apps with millions of monthly users as
            well as in agile, cross-discipline software development teams. I do
            also like getting involved with the iOS community by giving talks
            and writing articles in my blog.
          </p>
          <img
            class='m-0 rounded h-full w-64 object-cover hidden sm:block'
            src='/assets/happy-pol.jpg'
          />
        </div>
      </section>
      <section class='prose dark:prose-invert mb-5'>
        <h2 class='m-0 mb-2'>Talks</h2>
        <p>
          🗣 I have previously delivered some talks about iOS development at
          these events:
        </p>
        <div class='grid grid-cols-1 gap-2 sm:grid-cols-2 w-full'>
          <Talk
            title='Code generation using Swift Package Plugins'
            location='NSManchester'
            excerpt='A talk on how to use the new Swift Package Plugins API to generate code as part of their build processes using SourceKit.'
            slides='/talks/nsmanchester-code-generation-swift-packages.key'
          />
          <Talk
            title='The iPlayer deployment process'
            location='BBC Engineering Summit'
            excerpt='Together with a colleague from the Android team, we gave an internal talk on how our mobile app deployment process works.'
          />
        </div>
      </section>
      <section class='prose dark:prose-invert'>
        <h2 class='m-0 mb-2'>Where have I worked?</h2>
        <p class='mb-8'>Here are some of the places I have worked for!</p>
        <ul
          class=' list-none relative border-l border-gray-200 dark:border-gray-700 mx-2'>
          <TimelineEvent
            title='Senior iOS Developer'
            image='/assets/iplayer.svg'
            background='black'
            company='BBC iPlayer'
            description='As a senior engineer I took more of a leading role in the architecture and drive of new features. I also started mentoring an engineer from a different team and got involved in leading a cross-product guild aimed at exploring how we could more effectively use SwiftUI across our products.'
            startDate='June 2022'
            endDate='Present'
          />

          <TimelineEvent
            title='iOS Developer'
            image='/assets/iplayer.svg'
            background='black'
            company='BBC iPlayer'
            description='Worked in a team of iOS engineers focused on maintaining and developing new features for the iPlayer app, consumed by millions of monthly users in the UK. During my time here, I have worked in multiple modularisation projects and effectively dealing with legacy Objective-C code, as well as doing a lot of work to improve the CI systems and being part of the cross-product CI guild.'
            startDate='September 2021'
            endDate='June 2022'
          />

          <TimelineEvent
            title='iOS Developer'
            image='/assets/student-beans.png'
            background='#8edae2'
            company='Student Beans'
            description='Worked on a very fast-paced environment releasing new features and refactoring legacy code to bring it up to speed with our coding standards. I lead projects such as implementing a fully-fledged A/B testing and remote config system in our iOS client as welll as improving our CI pull requests pipelines to automate processes such as linting, inline warnings, etc.'
            startDate='April 2020'
            endDate='September 2021'
          />

          <TimelineEvent
            title='iOS Developer'
            image='/assets/midas.png'
            background='#133e74'
            company='Music Tribe'
            description='Worked on developing companion apps for music technology products such as mixing desks and audio interfaces. As well as developing a native iOS application using Swift, I worked on a React-based login flow that run within a Chromium embedded browser in a mixing console.'
            startDate='July 2018'
            endDate='April 2020'
          />
        </ul>
      </section>
    </div>
  </div>
</BaseLayout>
