---
import BaseLayout from '@layouts/BaseLayout.astro'
import Talk from '@components/Talk'
import Timeline from '@components/Timeline'
import getJobExperience from '@services/getJobExperience'

const jobs = getJobExperience()
---

<BaseLayout
  title="About"
  description="Find out a bit more about me and what I do!"
  imageURL="">
  <div class="flex mx-auto my-0 gap-1">
    <div class="px-3 my-0 flex flex-col gap-5">
      <section class="prose dark:prose-invert text-center mb-5">
        <h1>Hi, I'm Pol 👋</h1>
      </section>
      <section class="prose dark:prose-invert mb-5">
        <h2 class="m-0 mb-2">A bit about me</h2>
        <div class="flex gap-5">
          <p class="m-0">
            I'm a passionate iOS developer with over 4 years of experience in
            the industry. I worked in apps with millions of monthly users as
            well as in agile, cross-discipline software development teams. I do
            also like getting involved with the iOS community by giving talks
            and writing articles in my blog.
          </p>
          <img
            class="m-0 rounded h-full w-64 object-cover hidden sm:block"
            src="/assets/happy-pol.jpg"
            alt="A photo of Pol sitting outside in the sun and smiling."
          />
        </div>
      </section>
      <section class="prose dark:prose-invert mb-5">
        <h2 class="m-0 mb-2">Talks</h2>
        <p>
          🗣 I have previously delivered some talks about iOS development at
          these events:
        </p>
        <div class="grid grid-cols-1 gap-2 sm:grid-cols-2 w-full">
          <Talk
            title="Code generation using Swift Package Plugins"
            location="NSManchester"
            excerpt="A talk on how to use the new Swift Package Plugins API to generate code as part of their build processes using SourceKit."
            slides="/talks/nsmanchester-code-generation-swift-packages.key"
          />
          <Talk
            title="The iPlayer deployment process"
            location="BBC Engineering Summit"
            excerpt="Together with a colleague from the Android team, we gave an internal talk on how our mobile app deployment process works."
          />
        </div>
      </section>
      <section class="prose dark:prose-invert">
        <h2 class="m-0 mb-2">Where have I worked?</h2>
        <Timeline
          title="Here are some companies I have worked for!"
          events={jobs}
        />
      </section>
      <section class="prose dark:prose-invert text-center max-w-xs mx-auto">
        <h2 class="m-0 mb-2">Still curious?</h2>
        <p>Download a PDF version of my CV using the button below 📁</p>
        <a
          href="/pol-piella-cv.pdf"
          class="m-0 inline-flex items-center rounded-lg text-black bg-amber-400 py-2 px-4 text-center text-sm font-bold no-underline hover:bg-amber-300 focus:outline-none focus:ring-4">
          Download my CV &darr;
        </a>
      </section>
    </div>
  </div>
</BaseLayout>
