---
import BlogPreview from '../components/BlogPreview.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const posts = Astro.fetchContent('../_posts/*.md')
    .sort((a, b) => new Date(b.date) - new Date(a.date));
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title>polpielladev 📱 | A blog about software engineering and app development</title>
    <meta name="twitter:title" content="polpielladev 📱 | A blog about software engineering and app development" />
    <meta name="twitter:description" content="A blog where I talk about software development topics in languages like Swift, Javascript and using frameworks such as Next.js, React, Combine and many more!" />
    <meta name="description" content="A blog where I talk about software development topics in languages like Swift, Javascript and using frameworks such as Next.js, React, Combine and many more!" />
    <meta name="twitter:site" content="@polcodes" />
    <meta name="twitter:card" content="summary_large_image" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href={Astro.resolve('../styles/global.css')}>
    <link
      rel="alternate"
      type="application/rss+xml"
      title="RSS Feed for polpiella.dev"
      href="/rss.xml"
    />
</head>
<body>
    <main class="grid content-center min-h-screen">
        <Header />
        <div class="prose mx-auto my-0 pl-4 max-w-prose">
            <section class="flex gap-5 align-self-middle justify-start mb-8">
                <img class="object-cover rounded-full w-2/12 h-auto drop-shadow-lg" src="/assets/profile.png" />
                <div>
                    <h1>
                        Personal blog by <a class="font-bold underline decoration-fuchsia-900" target="_blank" rel="noopener noreferrer" href="https://twitter.com/polcodes">Pol Piella</a> 
                    </h1>
                    <p class="text-gray-600">iOS developer @ BBC iPlayer</p>
                    <p class="text-gray-600">I talk about iOS development and my career as a software engineer.</p>
                </div>
            </section>
            <section class="flex flex-col gap-5">
                {posts.map(p => <BlogPreview post={p} />)}
            </section>
        </div>
        <Footer />
    </main>
</body>
</html>
