---
import BlogPreview from '../components/BlogPreview.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const posts = Astro.fetchContent('../_posts/*.md')
    .sort((a, b) => new Date(b.date) - new Date(a.date));
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title>polpielladev 📱 | A blog about software engineering and app development</title>
    <meta name="twitter:title" content="polpielladev 📱 | A blog about software engineering and app development" />
    <meta name="twitter:description" content="A blog where I talk about software development topics in languages like Swift, Javascript and using frameworks such as Next.js, React, Combine and many more!" />
    <meta name="description" content="A blog where I talk about software development topics in languages like Swift, Javascript and using frameworks such as Next.js, React, Combine and many more!" />
    <meta name="twitter:site" content="@polcodes" />
    <meta name="twitter:card" content="summary_large_image" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href={Astro.resolve('../styles/global.css')}>
    <link
      rel="alternate"
      type="application/rss+xml"
      title="RSS Feed for polpiella.dev"
      href="/rss.xml"
    />
</head>
<body class="dark:bg-gray-900">
    <main class="grid content-center min-h-screen">
        <Header />
        <div class="px-3 mx-auto my-0 max-w-3xl">
            <section class="flex gap-5 align-self-middle justify-start mb-8">
                <img class="object-cover rounded-full w-2/12 h-auto drop-shadow-lg" src="/assets/profile.png" />
                <div class="prose dark:prose-invert grid content-center">
                    <h2 class="m-0">
                        iOS Dev blog by <a class="font-bold underline decoration-amber-500 decoration-wavy hover:text-amber-700 dark:hover:text-amber-300" target="_blank" rel="noopener noreferrer" href="https://twitter.com/polcodes">Pol Piella</a> 
                    </h2>
                    <p class="m-0">iOS developer at <b>BBC iPlayer</b></p>
                    <p class="m-0">I love to talk about <b>iOS development</b> and my career as <b>a software engineer</b>.</p>
                </div>
            </section>
            <section class="flex flex-col gap-10">
                {posts.map(p => <BlogPreview post={p} />)}
            </section>
        </div>
        <Footer />
    </main>
</body>
</html>
