---
import BaseLayout from '@layouts/BaseLayout.astro'
import Talk from '@components/Talk.svelte'
import InfoPane from '@components/InfoPane.svelte'
import TwoColumns from '@components/TwoColumns.svelte'
import YoutubeVideo from '@components/YoutubeVideo.svelte'

interface Year {
  value: number
  talks: Talk[]
}

interface Talk {
  title: string
  date: string
  event: string
  icon?: string
}

const events: Year[] = [
  {
    value: 2023,
    talks: [
      { title: '👀 TBA', date: 'December 2023', event: '👀 TBA' },
      {
        title: 'Making developer tools with Swift',
        date: '4th - 7th of September',
        event: 'iOS Dev UK',
        icon: '/assets/conferences/iosdevuk.webp',
      },
      {
        title: 'Exploring the power of Swift beyond mobile app development',
        date: '30th - 31st of May',
        event: 'plSwift',
        icon: '/assets/conferences/plswift.webp',
      },
      {
        title: 'TBC',
        date: '18th of May',
        event: 'NSBarcelona',
        icon: '/assets/conferences/nsbarcelona.webp',
      },
      {
        title: 'Making developer tools with Swift',
        date: '04th - 05th of May',
        event: 'Swift Heroes',
        icon: '/assets/conferences/swiftheroes.webp',
      },
      {
        title: 'Getting started with Xcode Cloud',
        date: '18th - 19th of April',
        event: 'NYSwifty',
        icon: '/assets/conferences/nyswifty.webp',
      },
      {
        title: 'Serverless Swift: A URL shortener',
        date: '06th of February',
        event: 'NSManchester',
        icon: '/assets/conferences/nsmcr.webp',
      },
    ],
  },
  {
    value: 2022,
    talks: [
      {
        title: 'Exploring the power of Swift beyond app development',
        date: '17th of November',
        event: 'Arc remote engineering job fair latam',
        icon: '/assets/conferences/arc.webp',
      },
      {
        title: 'Getting ahead of the game: Avoid release day drama!',
        date: '10th of November',
        event: 'Mobile Devops Summit 2022',
        icon: '/assets/conferences/mobile-devops-summit.webp',
      },
      {
        title: 'Fantastic Swift tools and where to find them',
        date: '9th of November',
        event: 'Do iOS Amsterdam',
        icon: '/assets/conferences/doios.webp',
      },
      {
        title: 'Code generation using Swift package plugins',
        date: '4th of July',
        event: 'NSManchester',
        icon: '/assets/conferences/nsmcr.webp',
      },
    ],
  },
]
---

<BaseLayout
  title="Speaking"
  description="Find out a bit more about me and what I do!"
  activeNav="speaking"
  image="">
  <TwoColumns>
    <div class="my-0 flex flex-col w-full prose dark:prose-invert" slot="main">
      <InfoPane
        description="Aside from blogging and writing content online, I also enjoy speaking about mobile development at conferences and events. Here are some of the past talks I have delivered and some upcoming ones too!"
        title="Speaking"
        image="/assets/speaking.jpeg"
        alt="A photo of me speaking at a conference"
        circleImage
      />
      <section class="flex flex-col">
        {
          events.map((year) => (
            <>
              <h2 class="mt-12 text-3xl font-black">{year.value}</h2>
              <div class="flex flex-col gap-6">
                {year.talks.map((talk) => (
                  <Talk {...talk} />
                ))}
              </div>
            </>
          ))
        }
      </section>
      <section class="flex flex-col">
        <h2>👋 Say hi</h2>
        <p>
          I am always looking for opportunities to do some public speaking or
          even run a workshop! If you have an opportunity you think might suit
          me, don't hesitate to contact me.
        </p>
      </section>
    </div>

    <div slot="aside" class="flex flex-col gap-8">
      <section class="flex flex-col gap-2">
        <p class="text-lg font-semibold m-0 pl-2">🗣️ Here's me speaking!</p>
        <YoutubeVideo id="yyOXynCoagE" />
        <YoutubeVideo id="l7nN7QdiGyY" />
        <YoutubeVideo id="sZj-8sDUYAs" />
      </section>
    </div>
  </TwoColumns>
</BaseLayout>
