---
import BlogSponsor from "@components/BlogSponsor.svelte";
import PreviousSponsors from "@components/PreviousSponsors.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout
  title="Sponsor"
  description="Help me continue to create content and open source projects by sponsoring me."
  activeNav="sponsor"
>
  <div class="flex flex-col gap-16 max-w-2xl mx-auto">
    <section class="scroll-smooth flex flex-col max-w-4xl mx-auto">
      <div class="max-w-3xl space-y-5 text-center mx-auto">
        <h1
          class="text-4xl font-title tracking-tight leading-none text-gray-900 md:text-5xl lg:text-5xl dark:text-white"
        >
          Want to become a sponsor?
        </h1>
        <p
          class="text-lg font-normal text-gray-700 lg:text-xl dark:text-gray-300"
        >
          polpiella.dev is a blog about iOS development with a focus on CI/CD,
          tooling and automation. It's read by over <b>14,000 developers</b> every
          month and is updated with a new article every week.
        </p>

        <a
          href="mailto:hi@polpiella.dev?subject=I would like to sponsor polpiella.dev"
          class="inline-flex items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-violet-700 hover:bg-violet-800 focus:ring-4 focus:ring-violet-300 dark:focus:ring-violet-900 transition-colors"
        >
          Book a slot for 2024
          <svg
            class="w-3.5 h-3.5 ml-2"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 5h12m0 0L9 1m4 4L9 9"></path>
          </svg>
        </a>

        <PreviousSponsors />
      </div>
    </section>
    <section class="bg-clear flex flex-col gap-4">
      <header class="font-title text-2xl dark:text-white">Pricing</header>
      <ul class="list-disc list-inside">
        <li
          class="text-lg mb-4 font-normal text-gray-700 lg:text-xl dark:text-gray-300"
        >
          One week of sponsorship: <strong>1000￡</strong>.
        </li>
        <li
          class="text-lg mb-4 font-normal text-gray-700 lg:text-xl dark:text-gray-300"
        >
          4 weeks of sponsorship: <strong>3500￡</strong>, saving a whole <strong
            >500</strong
          >!
        </li>
      </ul>
    </section>
    <section class="bg-clear flex flex-col gap-4">
      <header class="font-title text-2xl dark:text-white">
        What do sponsored slots look like?
      </header>
      <BlogSponsor variant="small" client:only />
      <a
        href="/core-data-migration-app-group"
        class="underline text-violet-800 mb-4 font-normal text-sm dark:text-violet-300"
        >You can see it in context in any of the site's articles.</a
      >
    </section>
    <section class="bg-clear flex flex-col gap-4">
      <header class="font-title text-2xl dark:text-white">Stats</header>
      <ul
        class="text-lg mb-4 font-normal text-gray-700 lg:text-xl dark:text-gray-300 flex flex-col gap-3 list-disc list-inside"
      >
        <li>20k+ monthly views.</li>
        <li>14k+ unique visitors.</li>
        <li>100+ blog posts published so far.</li>
        <li>5k+ followers on social media across Linkedin and Twitter.</li>
        <li>
          Over 200k impressions on social media posts across Linkedin and
          Twitter.
        </li>
      </ul>
    </section>
    <section class="bg-clear flex flex-col gap-4">
      <header class="font-title text-2xl dark:text-white">
        What you will get
      </header>
      <ul
        class="text-lg mb-4 font-normal text-gray-700 lg:text-xl dark:text-gray-300 flex flex-col gap-3 list-disc list-inside"
      >
        <li>A sponsored slot in 100+ blog posts across the whole site.</li>
        <li>
          A <strong>tweet</strong> with a shoutout to your account announcing the
          sponsorship.
        </li>
        <li>
          A <strong>LinkedIn post</strong> with a shoutout to your account announcing
          the sponsorship.
        </li>
        <li>
          A permanent place in the <strong>trusted by</strong> section of this page
          alongside all past sponsors.
        </li>
      </ul>
    </section>
  </div>
</BaseLayout>
