---
let SOCIAL_MEDIA = [
    { asset: "/assets/github.svg", url: "https://github.com/pol-piella" },
    { asset: "/assets/linkedin.svg", url: "https://www.linkedin.com/in/pol-piella-81b846115/" },
    { asset: "/assets/twitter.svg", url: "https://twitter.com/polcodes" },
]
---
<footer>
    <div class="flex bg-gray-100 mt-16 align-middle dark:bg-gray-800 justify-center p-5 gap-8 mb-0" >
        {SOCIAL_MEDIA.map(social => <a class="hover:scale-110 transition-transform dark:invert" target="_blank" rel="noopener noreferrer" href={social.url}><img width="25px" height="25px" src={social.asset} /></a>)}
    </div>
</footer>