---
interface Props {
  activeNav: string
}

const { activeNav } = Astro.props
import Social from './Social.svelte'
---

<header class="mt-4 w-full">
  <div class="mx-auto flex items-center justify-between">
    <nav class="prose flex items-center gap-4 no-underline dark:prose-invert">
      <a href="/">
        <img
          class="w-12 dark:invert hover:scale-110 transition-transform"
          src="/assets/logo.webp"
          alt=""
        />
      </a>
      <a
        class={`text-xl no-underline ${
          activeNav == 'newsletter'
            ? 'text-gray-900 dark:text-gray-100'
            : 'text-gray-500 dark:text-gray-400'
        }`}
        href="https://www.ioscinewsletter.com">
        Newsletter
      </a>
      <a
        class={`text-xl no-underline ${
          activeNav == 'posts'
            ? 'text-gray-900 dark:text-gray-100'
            : 'text-gray-500 dark:text-gray-400'
        }`}
        href="/posts">
        Posts
      </a>
      <a
        class={`text-xl no-underline ${
          activeNav == 'sponsor'
            ? 'text-gray-900 dark:text-gray-100'
            : 'text-gray-500 dark:text-gray-400'
        }`}
        href="/sponsor">
        Sponsor
      </a>
    </nav>
    <div class="lg:block hidden">
      <Social />
    </div>
  </div>
</header>
