---
interface Props {
  activeNav: string
}

const { activeNav } = Astro.props
import SearchBar from '@components/SearchBar.svelte'
import { getCollection } from 'astro:content'

const posts = await getCollection('blog')

const searchables = posts.map(({ data, slug }) => {
  return {
    title: data.title,
    excerpt: data.excerpt,
    slug: slug,
  }
})
---

<header class="mb-8 mt-4">
  <div
    class="mx-auto flex max-w-screen-lg items-center justify-between gap-4 py-4">
    <div class="prose flex items-center gap-4 no-underline dark:prose-invert">
      <a
        class={`text-xl no-underline ${
          activeNav == 'index'
            ? 'text-gray-900 dark:text-gray-100'
            : 'text-gray-500 dark:text-gray-400'
        }`}
        href="/">
        Home
      </a>
      <a
        class={`text-xl no-underline ${
          activeNav == 'newsletter'
            ? 'text-gray-900 dark:text-gray-100'
            : 'text-gray-500 dark:text-gray-400'
        }`}
        href="/newsletter">
        Newsletter
      </a>

      <a
        class={`text-xl no-underline ${
          activeNav == 'speaking'
            ? 'text-gray-900 dark:text-gray-100'
            : 'text-gray-500 dark:text-gray-400'
        }`}
        href="/speaking">
        Speaking
      </a>
    </div>
    <SearchBar client:idle searchables={searchables} />
  </div>
</header>
