<header>
    <a class="animated" href="/">
        polpiella<span class="dev">DEV</span>
    </a>
</header>

<style>
    header {
        display: flex;
        background: var(--gray100);
        margin-bottom: 32px;
        justify-content: space-between;
        align-items: center;
    }

    header > a > img {
        object-fit: cover;
        width: 220px;
        height: auto;
    }

    a {
        font-size: 20px;
        font-weight: bold;
        width: 220px;
        padding: 24px;
        text-decoration: none;
    }

    a.animated {
        transition: transform ease 0.3s;
    }

    a.animated:hover {
        transform: scale(1.05);
    }

    .dev {
        background-color: red;
        padding: 4px;
        margin-left: 2px;
        border-radius: 5px;
        background: #1dd8d2;
        color: var(--gray900)
    }
    
    @media (prefers-color-scheme: dark) {
        header {
            background: var(--gray900);
        }

        a {
            color: var(--gray100);
        }
    }
</style>