---
interface Props {
  activeNav: string;
}

const { activeNav } = Astro.props;
---

<header class="mt-12 w-full text-lg mb-12">
  <div class="mx-auto flex items-center justify-between">
    <nav class="prose flex items-center gap-4 no-underline dark:prose-invert">
      <a
        class="font-title no-underline transition-colors duration-300 ease-in-out hover:text-black/50 dark:hover:text-white/70 text-xl"
        href="/">Pol Piella Abadia</a
      >
    </nav>
    <div class="flex gap-5">
      <a
        class={`${
          activeNav == "about"
            ? "text-gray-900 dark:text-gray-100"
            : "text-gray-500 dark:text-gray-400"
        } text-[16px]`}
        href="/about"
      >
        About
      </a>
      <a
        class={`${
          activeNav == "newsletter"
            ? "text-gray-900 dark:text-gray-100"
            : "text-gray-500 dark:text-gray-400"
        } text-[16px]`}
        href="https://www.ioscinewsletter.com"
      >
        Newsletter
      </a>
      <a
        class={`no-underline ${
          activeNav == "posts"
            ? "text-gray-900 dark:text-gray-100"
            : "text-gray-500 dark:text-gray-400"
        } text-[16px]`}
        href="/posts"
      >
        Posts
      </a>
      <a
        class={`no-underline ${
          activeNav == "sponsor"
            ? "text-gray-900 dark:text-gray-100"
            : "text-gray-500 dark:text-gray-400"
        } text-[16px]`}
        href="/sponsor"
      >
        Sponsor
      </a>
    </div>
  </div>
</header>
