<div class="flex flex-col gap-x-6 gap-y-2 px-4 md:px-6 items-center">
    <p class="body px-8 dark:text-gray-200 text-gray-800">
        Previously sponsored by:
    </p>
    <div class="flex flex-wrap items-center justify-center gap-y-6 gap-x-7">
        <a>
            <img
                class="dark:invert h-4"
                src="/previous-sponsors/runway-wordmark.svg"
            />
        </a>
        <a>
            <img
                class="dark:invert h-7"
                src="/previous-sponsors/codemagic-wordmark.svg"
            />
        </a>
        <a>
            <img
                class="dark:invert h-7"
                src="/previous-sponsors/revenuecat-wordmark.svg"
            />
        </a>
    </div>
</div>
