<form
    action="https://sendy.polpiella.dev/subscribe"
    method="POST"
    accept-charset="utf-8"
    class="w-full max-w-md"
>
    <label
        for="email"
        class="sr-only mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Email sign-up</label
    >
    <div class="relative">
        <div
            class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3.5"
        >
            <svg
                class="h-4 w-4 text-violet-500"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 16"
            >
                <path
                    d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z"
                ></path>
                <path
                    d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z"
                ></path>
            </svg>
        </div>
        <input
            type="email"
            id="email"
            name="email"
            class="block w-full rounded-lg border-2 p-4 pl-10 text-sm border-violet-500 text-violet-900 placeholder-gray-400 focus:border-violet-500 focus:ring-violet-500"
            placeholder="Enter your email here..."
            required
        />
        <div class="hidden">
            <label for="hp">HP</label>
            <br />
            <input type="text" name="hp" id="hp" />
        </div>
        <input type="hidden" name="list" value="uzljZVi1QE9MgNuJYMbe4Q" />
        <input type="hidden" name="subform" value="yes" />
        <button
            type="submit"
            name="submit"
            id="submit"
            class="absolute bottom-2.5 right-2.5 rounded-lg bg-violet-700 px-4 py-2 text-sm font-medium text-white hover:bg-violet-800 focus:outline-none focus:ring-4 focus:ring-violet-300 dark:bg-violet-600 dark:hover:bg-violet-700 dark:focus:ring-violet-800"
            >Subscribe</button
        >
    </div>
</form>
