---
const { title, event, date, link } = Astro.props
const formatDate = (date: Date) => {
  const formattedDate = date.toLocaleDateString('en-US', {
    dateStyle: 'medium',
  })

  return formattedDate
}
---

<a href={link} class="group block">
  <div
    class="relative flex flex-col gap-1 rounded-xl bg-gray-100 p-4 transition-all duration-200 group-hover:bg-slate-200 dark:bg-white/5 dark:group-hover:bg-slate-800">
    <h3
      class="m-0 font-title text-xl text-gray-900 transition-opacity duration-200 group-hover:opacity-70 dark:text-white dark:group-hover:opacity-70">
      {title}
    </h3>
    <p class="m-0 text-gray-600 dark:text-gray-200">
      {event} · {formatDate(date)}
    </p>
  </div>
</a>
