---
export interface Props {
  user: string
  status: string
}

const { user, status } = Astro.props
const url = new URL('https://publish.twitter.com/oembed')
url.searchParams.set('url', 'https://twitter.com/' + user + '/status/' + status)
url.searchParams.set('dnt', 'true')
url.searchParams.set('align', 'center')
const response = await fetch(url.toString())
const json = await response.json()
const { html } = json
---

<div class="not-prose">
  <Fragment set:html={html} />
</div>
