---
import BaseLayout from '@layouts/BaseLayout.astro'
import Subscribe from '@components/Subscribe'
---

<BaseLayout
  title="iOS CI Newsletter"
  description="A fortnightly independent newsletter gathering all updates and news about Continuous Integration and Continuous Delivery from the iOS community."
  imageURL="https://polpiella.dev/assets/newsletter-og.png">
  <div
    class="flex sm:max-w-3xl w-full m-auto my-0 gap-1 prose dark:prose-invert h-full items-center flex-1">
    <div class="px-3 my-0 flex flex-col gap-5">
      <!-- Header... -->
      <header class="w-full">
        <div class="flex gap-4 justify-center items-center">
          <div>
            <h1>iOS CI Newsletter</h1>
            <p>
              A fortnightly independent newsletter gathering all updates and
              news about Continuous Integration and Continuous Delivery from the
              iOS community.
            </p>
            <p>
              This newsletter will include interviews, tutorials and even memes
              about CI!
            </p>
          </div>
          <img
            src="/assets/ci-newsletter.svg"
            class="w-72 m-0 hidden sm:block"
            alt=""
            srcset=""
          />
        </div>
        <Subscribe client:visible />
      </header>
    </div>
  </div>
</BaseLayout>
