---
import BaseLayout from '@layouts/BaseLayout.astro'
import NewsletterPane from '@components/NewsletterPane'
---

<BaseLayout
  title="Successfully subscribed"
  description="Thank you for subscribing!"
  image=""
  center={true}>
  <NewsletterPane title="Thank you for subscribing! ✅">
    <h3 class="mt-0">ℹ️ Before you go:</h3>
    <p>
      Here are some extra steps you can do in your email client to ensure you
      don't miss a single issue from the iOS CI Newsletter (
      <strong>hi@polpiella.dev</strong>):
    </p>
    <ul class="mt-0">
      <li>
        <strong>Gmail:</strong> Add <strong>hi@polpiella.dev</strong> to your primary
        inbox.
      </li>
      <li>
        <strong>Apple Mail:</strong> Add <strong>hi@polpiella.dev</strong> as a VIP
        contact.
      </li>
      <li>
        <strong>Outlook:</strong> Add <strong>hi@polpiella.dev</strong> as a favourite.
      </li>
    </ul>
  </NewsletterPane>
</BaseLayout>
