html, body {
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
}

.app {
    height: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    text-justify: auto;
    padding: 0 20px;

    h1 {
        font-weight: 800;
        font-style: normal;
        // letter-spacing: -0.03em;
        text-align: center;
        font-size: 35px;
        background-color: white;
        height: 100%;
        margin: auto 0;
    }
}