html,
body {
    height: 100vh;
    background: #282c35;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

.app {
    height: 100vh;
}

.app.dark-mode {
    color: white;
}
